{% extends "About/base.html" %}

{% load static %}
    
{% block contenido %}
<h2 style="text-align:center">¡Encontrá el horario perfecto para vos!</h2>
<br>
<ul>
    {% for instance in horarios %}
        <li>{{instance.día}} - <a href="{{instance.get_absolute_url}}">{{instance.clase}}</a></li>
        <a href="{% url 'Descripción' instance.id %}">Detalles</a>
   {% endfor %}
</ul>
<br>

<h2 style="color:darkred"> ¡Aclaración! </h5>
    Los cupos son ilimitados, te recomendamos igualmente asistir temprano para conseguir los materiales necesarios
<br>
<a href="{% url 'inicio' %}">Volver a la página de inicio</a> 
{% endblock %}