{% extends "About/base.html" %}

{% load static %}
    
{% block contenido %}   

    <h1> ¡Las recetas de la comunidad! </h1>
    <ul>
        {% for postulante in postulantes %}
        <li>{{postulante}}
            <a href="{% url 'borrar' postulante.id  %}">Borrar</a>
            <a href="{% url 'editar' postulante.id  %}">Actulizar</a>
        </li>
    </ul>
{% endfor %}
    <br>
    <a href="{% url 'publicación' %}">¡Crea tu propia receta!</a>  
    <br>
    <a href="{% url 'listaRecetas' %}">Tus recetas</a>
    <br>
    <a href="{% url 'inicio' %}">Volver a la página de inicio</a>  
{% endblock %}