{% extends "About/base.html" %}

{% load static %}
    
{% block contenido %}   

<a href="{% url 'about-logout' %}">Salir</a>

    <h1> Lista de Prometeo's </h1>
    <ul>
        {% for postulante in postulantes %}
        <li>{{postulante}}
            <a href="{% url 'Borrar' postulante.id  %}">Borrar</a>
            <a href="{% url 'Editar' postulante.id  %}">Actulizar</a>
        </li>
    </ul>
{% endfor %}
    <br>
    <a href="{% url 'CargarPostu' %}">Agregar otro Postulante</a>    
{% endblock %}