<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %} {% endblock %}
    </title>
</head>

<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
        <li class="nav-item"><a class="nav-link" href="#services" style="color:black" > Servicios</a></li>
        <li class="nav-item"><a class="nav-link" href="#team" style="color:black">About us</a></li>
        <li class="nav-item"><a class="nav-link" href="#contact" style="color:black" >Contact</a></li>
        <li class="nav-item"><a class="nav-link" href="#contact" style="color:black" >Log In</a></li>
        <nav class="navbar navbar-light bg-light static-top">
